# Flutter/Dart
.dart_tool/
.pub/
build/
*.apk
*.appbundle
*.dSYM/
*.swp
/.idea/
*.iml
/android/.gradle
/android/captures/
/android/key.properties

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
*.log

# Dependencies
pubspec.lock

# IntelliJ
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# OS
~*
push.bat
